<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <title>Amulink <%= user.fullName %></title>
</head>

<body>
  <h1><%= user.fullName %></h1>
</body>

</html>